<div class="searchIn">
          <input type="text" placeholder="Search for your Deal!!">
          <a href="#" class="button">Deal</a>
        </div>
      </div>
        <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
            <div data-src="assets/homepage1.png"> </div>
            <div  data-src="assets/homepage2.jpg"></div>
        </div>
<div class="topDeck">
    <img src="assets/pokerc.png">
    <%= render partial: "/cards/card", collection: @cards %>
    