<div class="trip">
  <!-- render partials for, categories, likes, keep and share...? -->
  <%= image_tag (card.image) %>
  <div class="tripInfo">
    <h3><%= markdown (card.title)%></h3>
    <p><%= markdown (card.location)%></p>
  </div>
</div>



 



