<div class="trip">
  <div class="pokerHover">
    <a href="#">1</a><!-- %=render partial: 'likes/likeable', locals: { card: card } -->
  </div>
  <%= image_tag (card.image) %>
  <div class="tripInfo">
    <h3><%= markdown (card.title)%></h3>
    <p><%= markdown (card.location)%></p>
  </div>
</div>



 



